@model MovieApplication.Models.Movie

@{
    ViewBag.Title = "Create";

    var enums = Enum.GetValues(typeof(MovieApplication.Models.RatingType))
                       .Cast<MovieApplication.Models.RatingType>()
                       .Select(e => new SelectListItem { Value = ((int)e).ToString(), Text = e.ToString() });    
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Movie</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ReleaseDate, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.ReleaseDate)
                @Html.ValidationMessageFor(model => model.ReleaseDate, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price, null, new { @class = "help-inline" })
            </div>
        </div>

        

        <div class="control-group">
            @Html.LabelFor(model => model.Genre, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(model => model.GenreId, (IEnumerable<SelectListItem>) ViewBag.Genres)
                        </div>
                    </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Rating, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(model => model.Rating, enums)
                    </div>
                </div>


        <div class="form-actions no-color">
            <input type="submit" value="Create" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

