@model LibrarySystemMvc.ViewModels.BookDetailsViewModel
@{
    ViewBag.Title = "Home Page";  
}


<div>Title : @Model.Title</div>
<div>Description : @Model.Description</div>
<div>ISBN : @Model.ISBN</div>
<div>AuthorName : @Model.AuthorName</div>
<div>CategoryName : @Model.CategoryName</div>
<div>WebSite : @Model.WebSite</div>